##image versions
POSTGRES_VERSION=17.0
KC_VERSION=26.0.6
RD_VERSION=8.2.3-alpine
CONFLUENT_VERSION=7.7.7
DEBEZIUM_VERSION=3.1.2
PGADMIN_VERSION=9.3
KF_UI_VERSION=v1.4.2
TERRAFORM_VERSION=1.14
PROMETHEUS_VERSION=v3.10.0
GRAFANA_VERSION=12.4.1
TEMPO_VERSION=2.10.1

#postgres
PG_SERVICE=postgres
PG_PORT=5432
PG_USER=your-db-user
PG_PASSWORD=your-db-password
PG_DB=postgres
PG_INIT_PATH=./init-db.sql

#keycloak
KC_PORT_HOST=8443
KC_DB=keycloak_db
KC_ADMIN=your-db-admin
KC_ADMIN_PASSWORD=your-keycloak-admin-password
KC_CLIENT_ID=money-transfer-app
KC_PUBLIC_BASE_URL=http://localhost:8443
KC_INTERNAL_BASE_URL=http://keycloak:8080
KC_REALM=money-transfer

#redis
RD_HOST=redis
RD_PORT=6379
RD_PASSWORD=your-redis-password

#kafka
KF_HOST=localhost
KF_PORT=9096
KF_CLUSTER_ID=your-kafka-cluster-id
KF_CONTROLLER_PORT=29093
KF_INTERNAL_PORT=9090
KF_REPLICATION_FACTOR=1
KF_UI_PORT=8800
KF_BOOTSTRAP_SERVERS=kafka-0:9090
KF_TOPIC_PREFIX=dev

#schema-registry
SC_REGISTRY_HOST=localhost
SC_REGISTRY_PORT=8181
SC_REGISTRY_HOST_URL=http://localhost:8181
SC_REGISTRY_URL=http://schema-registry:8081

#kafka-connect
KF_CONNECT_PORT=8183
KF_CONNECT_URL=http://connect:8083

#pgAdmin
PGADMIN_PORT_HOST=8000
PGADMIN_DEFAULT_EMAIL=your-pgadmin-email
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password

#api-gateway
GATEWAY_PORT=8080
MANAGEMENT_PORT=8070
SESSION_SECURE=false
KC_GATEWAY_CLIENT_ID=money-transfer-gateway
KC_GATEWAY_CLIENT_SECRET=your-gateway-client-secret
FRONTEND_URL=http://localhost:4200

#transaction-service
TRANSACTION_SERVICE_PORT=8040
KF_TRANSACTION_CONSUMER_GROUP_ID=transaction-service-group
TRANSACTION_DB=transaction_db

#wallet-service
WALLET_SERVICE_PORT=8045

#fraud-service
FRAUD_SERVICE_PORT=8050
KF_FRAUD_CONSUMER_GROUP_ID=fraud-service-group
FRAUD_AMOUNT_THRESHOLD=100000000
FRAUD_VELOCITY_MAX=5
FRAUD_WINDOW_MIN=10

#shared
SECRET_KEY=your-hmac-secret-key