##image versions
POSTGRES_VERSION=17.0
CONFLUENT_VERSION=7.7.7
DEBEZIUM_VERSION=3.1.2
PGADMIN_VERSION=9.3
KF_UI_VERSION=v1.4.2
PROMETHEUS_VERSION=v3.10.0
GRAFANA_VERSION=12.4.1
TEMPO_VERSION=2.10.1

#postgres
PG_HOST=postgres
PG_PORT_HOST=5432
PG_USER=your-db-user
PG_PASSWORD=your-db-password
PG_DB=postgres
PG_INIT_PATH=./docker/init-db.sql
TRANSACTION_DB=transaction_db
WALLET_DB=wallet_db

#kafka
KF_HOST=localhost
KF_PORT=9096
CLUSTER_ID=your-kafka-cluster-id
KF_CONTROLLER_PORT=29093
KF_INTERNAL_PORT=9090
KF_REPLICATION_FACTOR=1
KF_UI_PORT=8800

#schema-registry
SC_REGISTRY_HOST=localhost
SC_REGISTRY_PORT=8181
SC_REGISTRY_HOST_URL=http://localhost:8181
SC_REGISTRY_URL=http://schema-registry:8081

#kafka-connect
KF_CONNECT_PORT=8183
KF_CONNECT_URL=http://connect:8083

#pgAdmin
PGADMIN_PORT_HOST=8000
PGADMIN_DEFAULT_EMAIL=your-pgadmin-email
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password
