# Build output
target/
build/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath

### Mac OS ###
.DS_Store

# Logs
*.log

# Environment variables (Crucial for security)
.env